# compiled output
*.o
*.asm
*.elf
*.exe

# python virtual environments
/.venv
/venv
*.pyc
__pycache__/

# caches
/tmp
*.b_cache.json

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
